.preview-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.preview-card.menu-open {
  transform: none !important;
}

.preview-card.menu-open:active {
  transform: none !important;
}

.preview-card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.preview-card-header-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.preview-card-exercise-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preview-card-exercise-list li {
  font-size: 13px;
  color: var(--text);
  position: relative;
  padding-left: 12px;
  line-height: 1.8;
}

.preview-card-exercise-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary);
}
