.preview-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.preview-card.menu-open {
  transform: none !important;
}

.preview-card.menu-open:active {
  transform: none !important;
}


.preview-card.menu-open .action-menu {
  pointer-events: auto;
  transform: none !important;
}

.preview-card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.preview-card-header-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.preview-card-exercise-list {
  list-style: none;
  padding: 0;
  margin: 8px 0;
}

.preview-card-exercise-list li {
  color: var(--text);
  position: relative;
  padding-left: var(--space-3);
  line-height: 1.8;
}

.preview-card-exercise-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--primary);
}
