 .stat-card {
   display: flex;
   flex-direction: column;
   gap: var(--space-2);
 }

 .stat-card-span-2 {
   grid-column: span 2;
 }

 .stat-card-value {
   display: flex;
   gap: var(--space-2);
   align-items: center;
 }

 .stat-value-sm {
   font-size: var(--text-h2);
 }

 .stat-value-md {
   font-size: var(--text-h1);
 }

 .stat-value-lg {
   font-size: var(--text-lg);
 }

 .stat-value-xl {
   font-size: var(--text-xl);
 }

 .stat-label-sm {
   font-size: var(--text-sm);
 }

 .stat-label-md {
   font-size: var(--text-h4);
 }

 .stat-label-lg {
   font-size: var(--text-h3);
 }

 .stat-card-center {
   text-align: center;
 }

 .stat-card-icon {
   width: 20px;
   color: var(--primary-light);
 }

 .stat-card-subvalue {
   margin: var(--space-1) 0 0;
   color: var(--muted);
   font-size: var(--text-sm);
 }
