.action-menu {
  position: relative;
}

.action-menu button {
  background: none;
  border: none;
  cursor: pointer;
  justify-content: end;
  padding: var(--space-1) var(--space-2);
}

.action-menu button.action-menu-icon-button.action-menu-profile {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.action-menu button.action-menu-icon-button.action-menu-default {
  width: 2rem;
  height: 2rem;
}

.action-menu-icon {
  display: flex;
  margin: 0;
  transition: opacity 0.15s ease;
  background: none;
  border: none;
  color: var(--text);
}

.action-menu-default .action-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.1rem;
  height: 1.1rem;
}

.action-menu-profile .action-menu-icon {
  width: 1.45rem;
  height: 1.45rem;
}

.action-menu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;

  min-width: 120px;
  padding: var(--space-2);
  border-radius: var(--radius-md);

  background: var(--card);
  opacity: .95;
  border: 1px solid var(--border);
  z-index: 100;
}

.action-menu-item {
  width: 100%;
  padding: var(--space-2);

  border: none;
  background: transparent;
  color: var(--text);
  border-radius: var(--radius-sm);

  text-align: left;
  cursor: pointer;
}

.action-menu-item:hover {
  background: rgba(var(--primary-rgb), 0.4);
}

.action-menu-item.danger {
  color: var(--danger);
}

.action-menu-divider {
  height: 1px;
  margin: 0.35rem 0;

  background: var(--border);
}

.action-menu-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);

  width: 100%;
}

.action-menu-item-left {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.action-menu-subtitle {
  margin: 0;
  margin-top: 0.1rem;
  color: var(--text-muted);
}
